.test-container {
  padding: 2rem;
  background-color: var(--background-color);
  height: 100vh;
  overflow-y: auto;
}

.question-box {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 94%;
  max-width: 800px;
  height: 150px;
  border: 1px solid var(--unselect-color);
  border-radius: 8px;
  padding: 0.75rem;
  margin-top: 1rem;
  font-family: var(--font-content);
}
.answer-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.send_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: var(--unselect-color);
  cursor: not-allowed;
}

.followup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.followup-container button {
  margin: 0 3rem;
}
